asgiref
certifi
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-environ
django-extensions
filelock
humanize
packaging
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
pydot
pygraphviz
pyparsing
python-dotenv
setuptools
sqlparse
typing_extensions
tzdata
virtualenv
wheel

# pip freeze | py -c "for p in __import__('sys').stdin: print(p.split('=')[0])"
